* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}

section{
    min-height: 100vh;
    width: 100%;
    border: 1px solid #ccc;
    background: linear-gradient(#acabab, rgb(233, 243, 254));    
}

header{
    display: flex;   
    width: 100%; 
    height: 4rem;
    align-items: center;
    background: #e1e7e9;    
    position: relative;
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
}

.imagenLogo{
    position: absolute;
    z-index: 2;
    left: 20px;
}

.imagenLogo:hover::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    z-index: -1; /* Coloca la sombra detrás del icono */
}

.arrowLeft{
    display: inline-block;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    left: 20px;   
    
}

.arrowLeft img{
    width: 45px;
    height: 3.4em;    
    color: #737373;
}

.arrowLeft:hover::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    z-index: -1; /* Coloca la sombra detrás del icono */
}

.custom-icon{
    display: inline-block;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    left: 20px;
    width: 45px;
    height: 3.4em;    
    color: black;
}

.headerText{
    position: relative;
    width: 100%;
}

.headerText h1{
    text-align: center;
    padding: 0 1rem; /* Reduce el padding en dispositivos pequeños */
}

main{
    display: flex;
    flex-wrap: wrap; /* Distribuye en varias líneas */
    justify-content: center;
    padding: 1rem; /* Agrega espaciado */
}

.divider {
    height: 1px;
    border-bottom: 1px solid #ccc; /* Estilo de borde inferior */
    margin: 10px 0; /* Espacio superior e inferior de la línea */
}

.card {
    position: relative;
    box-sizing: border-box;
    width: calc(50% - 2rem); /* Ajusta el ancho para que sean 2 tarjetas por fila */
    width: 190px;
    height: 254px;
    background: #f7f7f7;
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;      
    user-select: none;    
    color: black;  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1rem;
    text-decoration: none;
}

.card2 {
    position: relative;
    box-sizing: border-box;
    width: calc(50% - 2rem); /* Ajusta el ancho para que sean 2 tarjetas por fila */
    width: 190px;
    height: 254px;
    background: #e4e0e0;
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;      
    user-select: none;    
    color: black;  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1rem;
    align-items: center;
}

.card:hover {
    border: 1px solid black;
    transform: scale(1.05);
    font-weight: bolder;
}

.card:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

.card2:hover {
    border: 1px solid black;
    transform: scale(1.05);
    font-weight: bolder;
    filter: brightness(0.5);
}

.svg-inline--fa{
    height: 8em;
    color: #a6a6a6;
}

.svg-inline--fa:active{
    color: #737373;
}

/* .icon-card{
    height: 10em;
    fill: #a6a6a6;
} */

/* .icon-card:active{
    filter: brightness(0.5);
} */

.containerText {
    padding: 2px 16px;
    color: #a6a6a6;
    font-size: 1.3rem;
}

.containerText2 {
    padding: 2px 16px;
    color: #a6a6a6;
    font-size: 2rem;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #ccc;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.floating-button:hover{
    background-color: #a6a6a6;
}

.floating-button:active{
    background-color: #737373;
}

.floating-button div{
    display: block;
    width: 40px;
    height: 40px;
}

.floating-button svg{
    display: block;
    width: 40px;
    height: 40px;
}


@media (max-width: 300px) {
   
    .imagenPrint{
        right: 0px;
    }

    #iconoPrint{
        width: 50%; /* Reduce el ancho del .imagenPrint al 50% */    
        height: 40px;  
    }
    
    #iconoEye{
        width: 50%; /* Reduce el ancho del .imagenPrint al 50% */   
        height: 40px;     
    }

    .span2{
        right: 30px;
    }
}

@media (min-width: 300px) and (max-width: 400px) {
   
    .imagenPrint{
        right: 0px;
    }

    #iconoPrint{
        width: 60%; /* Reduce el ancho del .imagenPrint al 50% */       
    }
    
    #iconoEye{
        width: 60%; /* Reduce el ancho del .imagenPrint al 50% */        
    }

    .span2{
        right: 45px;
    }
}

/* Estilos para pantallas de ordenador (por ejemplo, más de 1024px) */
@media (min-width: 1025px) {
    header {
        height: 5rem;
    }
    header img {
        width: 50px;
        height: 55px;
    }
    .headerText h1 {
        padding: 0 4rem;
    }
   
}
